* {
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 700px;
  margin: 0 auto;
}
.title__block {
  border-radius: 5px;
  padding: 30px 20px;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #dadce0;
  border-radius: 8px;
  position: relative;
  height: 136px;
}
.question__block {
  border-radius: 5px;
  padding: 0 20px 20px 20px;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-top: 14px;
  position: relative;
}

.drag__icon {
  text-align: center;
}
.drag__icon::after {
  content: url(../public/drap__icon.png);
  display: block;
}
.chart__block {
  width: 350px;
  height: 350px;
}
.button {
  border: 0;
  background-color: transparent;
  padding-right: 10px;
  font-size: 20px;
}
.main::before {
  position: absolute;
  content: "";
  height: 192.5px;
  left: 10px;
  right: 10px;
  background-image: url(https://lh4.googleusercontent.com/EXhr7ovIjGJaT37vcKcHvaL3gAzN3V3MW5Ll93s6X6NQ4MuBTwlYvdASuG7vm5ZADP7ctwtkjKoDDYTZB_bF7lkwXauOTmVuXY0yhHX3lXGifer0Z-CiFOh2lTDzQbNmnL5BH8xVP9lddtLKAVmFfVJT4w0vhg);
  background-size: cover;
  background-position: center;
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
}
.form {
  margin-top: 214.5px;
  width: 100%;
  padding: 0 10px;
}
.title__block::before {
  position: absolute;
  content: "";
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 10px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: calc(100% + 2px);
  background-color: rgb(61, 143, 45);
  color: rgba(255, 255, 255, 1);
}
.title__information {
  height: 46px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #dadce0;
  outline: none;
  font-size: 24pt;
}
.description__information {
  height: 21px;
  margin-top: 14px;
  border: 0;
  border-bottom: 1px solid #dadce0;
  width: 100%;
  outline: none;
}
.question__header {
  display: flex;
  justify-content: space-between;
}
.question__input {
  font-size: 12pt;
  font-family: "docs-Roboto", Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  height: 56px;
  border: 0;
  border-bottom: 1px solid #151616;
  outline: none;
  background-color: #f5f6f8;
  margin-bottom: 12px;
  width: 60%;
}
.question__select {
  height: 48px;
  border-radius: 4px;
  border-color: #c4c4c5;
  outline: none;
}
.radio__field {
  height: 30px;
  position: relative;
}
.drap__option__icon {
  content: url(../public/drap__icon.png);
  /* transform: rotate(90deg); */
  display: block;
  top: 2px;
}
.question__field {
  position: relative;
}
.drap__option_icon{
  position: absolute;
  left: -14px;
  top: 9px;
}
.drap__checkbox__option_icon{
  position: absolute;
  left: -14px;
  top: 0;
}
.drap__select__option_icon{
  position: absolute;
  left: -14px;
  top: 0;
}
.question__checkbox__field {
  margin-top: 10px;
  position: relative;
}
.question__select__field {
  margin-top: 10px;
  position: relative;
}
.select__option__no{
  margin-left: 5px;
}
.option__filed,
.option__checkbox__filed,
.option__radio__filed,
.option__short__filed,
.option__paragraph__filed {
  height: 24px;
  border: 0;
  border-bottom: 1px solid #f2f8f8;
  outline: none;
  margin: 0 0 20px 15px;
}
.option__short__filed {
  width: 80%;
  height: 35px;
  font-size: 13px;
}
.option__paragraph__filed {
  height: 150px;
  width: 80%;
  font-size: 13px;
}
.option__checkbox__filed {
  margin: 0 0 2px 15px;
}
.option__radio__filed {
  position: absolute;
  top: 10px;
}
.add__question__filed {
  margin-top: 10px;
}
.question__group {
  display: flex;
  justify-content: space-between;
}
.add__option {
  margin-left: 14px;
  color: #c4c4c5;
  margin-bottom: 20px;
}
.remove__icon {
  position: relative;
}
.remove__icon::before {
  content: url(../public/remove__icon.png);
  cursor: pointer;
}
.coppy__icon::before {
  content: url(../public/coppy__icon.png);
  margin-right: 25px;
}
.delete__icon::before {
  content: url(../public/delete__icon.png);
  margin-right: 25px;
}
.question__footer {
  border-top: 1px solid #c4c4c5;
  height: 65px;
  margin-top: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.add__question__button {
  border: 0;
  background-color: transparent;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #c4c4c5;
  margin-top: 10px;
  border-radius: 5px;
}
